events {
    worker_connections 1024;
}

http {
    server {
        listen 8080;
        include /etc/nginx/mime.types;

        location / {
            proxy_pass http://app:$SPRING_PORT;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }
    }
}
